@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #13232E;
  color: #fff;
}